{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LensLocked.com</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/assets/styles.css" rel="stylesheet">
  </head>

  <body>
        {{template "navbar" .}}

    <div class="container-fluid">
        {{if .Alert}}
          {{template "alert" .Alert}}
        {{end}}

        {{template "yield" .Yield}}
        
        {{template "footer"}}

    </div>

    <!-- jquery & Bootstrap JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  </body>
</html>
{{end}}
